.top_date_social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-search {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.form-search input {
    margin-bottom: 0;
    margin-right: 10px;
}

.form-search .fa-search {
    background-color: #108ffc;
    height: 38px;
    width: 38px !important;
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.post-scroll {
    overflow-y: scroll;
    height: 350px;
    border-top: 3px solid #1090fd;
    padding-top: 20px;
}

.event-scroll {
    overflow-y: scroll;
    height: 150px;
    border-top: 3px solid #1090fd;
    padding-top: 20px;
}

.report-scroll {
    margin-top: 20px;
}

.post-box {
    overflow-y: scroll;
    height: 150px;
    border-top: 3px solid #1090fd;
}

.event-canvas {
    padding: 10px;
    border: 1px solid #ddd;
}

.event-canvas ul li a {
    font-size: 14px;
}

.article {
    overflow-x: scroll
}

.font-14 {
    font-size: 14px;
}

.single_post_td {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    border: 1px solid #dee2e6!important;
    padding: 5px;
}

.single_post_td .post_img {
    flex: 0 0 25%;
}

.single_post_td .single_post_text {
    padding: 0;
    padding-left: 20px;
}

.page-job-detail__detail h2 {
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.page-job-detail__detail {
    font-size: 14px;
}

.wrapper {
    margin-top: 50px;
}

.heading {
    background-color: #108ffc;
}

.heading h2 {
    color: #fff;
    padding-left: 20px;
    font-size: 20px;
}

.info-detail {
    font-size: 14px;
}

button.btn.btn-saveCv {
    background-color: #f7941d;
    border-color: #f7941d;
    color: #FFF;
}

.content h2 {
    font-size: 24px;
}